{% load static %}

<header class="container-fluid">
    <div class="row align-items-center h-100">
        <img class="col-auto mr-auto" src="{% static 'images/svg/logo-en.svg'%}" alt="My Bed Star">
        <div class="col-auto head-contact">
            <span>تواصل معنا</span>
            <a href="#">012312323</a>
        </div>
        <div class="col-auto">
            <a href="#">
                <img src="{% static 'images/svg/close.svg' %}" alt="Close Menu">
                <img src="{% static 'images/svg/menu.svg' %}" alt="Open Menu">
            </a>
            <img src="{% static 'images/logo-ar.png' %}" alt="My Bed Star">
        </div>
    </div>
</header>
