{% load static %}

<header class="container-fluid">
    <div class="row align-items-center h-100">

        <!-- English logo -->
        <img class="col-lg-auto d-none d-lg-block mr-auto e-logo" src="{% static 'images/svg/logo-en.svg' %}" alt="My Bed Star">

        <!-- seals phone -->
        <div class="col-sm-auto col-12 mr-lg-0 mr-auto pt-2 pb-2 pt-0 pb-0 text-center head-contact">
            <a class="d-xl-inline d-sm-none d-inline mr-2 btn-contact-link" href="{% url 'Public:contact' %}">تواصل معنا</a>
            <a class="mr-2 flaticon-phone btn-contact-tel" href="tel:{{ header_phone }}">{{ header_phone }}</a>
        </div>

        <!-- Main menu -->
        <div class="col-md-auto col-sm-7 col-12 main-menu align-self-start">

            <!-- menu control -->
            <div class="d-flex align-items-center">
                <button class="menu-toggle ml-0 ml-sm-3 mr-md-5 mr-auto mr-sm-5" type="button" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu">
                    <img class="close" src="{% static 'images/svg/close.svg' %}" alt="Close Menu">
                    <img class="open active" src="{% static 'images/svg/menu.svg' %}" alt="Open Menu">
                </button>
                <a href="{% url 'Public:home' %}">
                    <img class="img-fluid pl-3 pl-sm-0 ar-logo" src="{% static 'images/logo-ar.png' %}" alt="My Bed Star">
                </a>
            </div>

            <!-- menu Items -->
            <div class="collapse" id="collapseMenu">
                <ul class="list-unstyled menu-links">
                    {% with url_name=request.resolver_match.url_name %}
                        <li {% if url_name == 'mattress' %}class="active"{% endif %}>
                            <a href="{% url 'Public:mattress' pk=first_mattress_pk %}">المراتب</a>
                        </li>
                        <li {% if url_name == 'product' %}class="active"{% endif %}>
                            <a href="{% url 'Public:product' pk=first_product_pk %}">المزيد من منتجاتنا</a>
                        </li>
                        <li {% if url_name == 'manufacturer' %}class="active"{% endif %}>
                            <a href="{% url 'Public:manufacturer' %}">مستلزمات التصنيع</a>
                        </li>
                        <li {% if url_name == 'about' %}class="active"{% endif %}>
                            <a href="{% url 'Public:about' %}">عن الشركه</a>
                        </li>
                        <li {% if url_name == 'contact' %}class="active"{% endif %}>
                            <a href="{% url 'Public:contact' %}">تواصل معنا</a>
                        </li>
                    {% endwith %}
                </ul>
            </div>
        </div>
    </div>
</header>
