{% load static %}

<header class="container-fluid">
    <div class="row align-items-center h-100">
        <img class="col-md-auto col-sm-5 d-none d-sm-block mr-auto" src="{% static 'images/svg/logo-en.svg'%}" alt="My Bed Star">
        <div class="col-auto d-none d-lg-block head-contact">
            <span class="d-none d-xl-inline mr-2">تواصل معنا</span>
            <a class="mr-2 flaticon-phone" href="tel:012122">012312323</a>
        </div>
        <div class="col-md-auto col-sm-7 col-12 main-menu align-self-start">
            <div class="d-flex align-items-center">
                <button class="menu-toggle ml-sm-3 ml-0 mr-md-5 mr-auto" type="button" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu">
                    <img class="close" src="{% static 'images/svg/close.svg' %}" alt="Close Menu" >
                    <img class="open active" src="{% static 'images/svg/menu.svg' %}" alt="Open Menu">
                </button>
                <a href="{% url 'Public:home' %}">
                    <img class="img-fluid pl-3 pl-sm-0" src="{% static 'images/logo-ar.png' %}" alt="My Bed Star">
                </a>
            </div>
            <div class="collapse" id="collapseMenu">
                <ul class="list-unstyled menu-links">
                    {% with url_name=request.resolver_match.url_name %}
                    <li><a href="#">المراتب</a></li>
                    <li><a href="#">المزيد من منتجاتنا</a></li>
                    <li><a href="#">مستلزمات التصنيع</a></li>
                    <li {% if url_name == 'about' %}class="active"{% endif %}>
                        <a href="{% url 'Public:about' %}">عن الشركه</a>
                    </li>
                    <li {% if url_name == 'contact' %}class="active"{% endif %}>
                        <a href="{% url 'Public:contact' %}">تواصل معنا</a>
                    </li>
                    {% endwith %}
                </ul>
            </div>
        </div>
    </div>
</header>
