$color-white: #FFFFFF;
$color-black: #000000;
$color-swamp: #001414;
$color-blackcurrant: #2F2A3B;
$color-bastille: #262230;
$color-blackcurrant: #2F2A3B;
$color-pacific-blue: #00B6BB;
$color-robins-egg-blue: #00CBC9;
$color-bright-turquoise: #00EBE9;
$color-bright-gray: #3B4154;
$color-bali-hai: #7D8BA9;
$color-casper: #ACBACC;
$color-chambray: #3A4786;
$color-gallery: #ECECEC;
$color-boulder: #767676;
$color-dodger-blue: #5776FF;
$color-polo-blue: #8FA1CA;
$color-alabaster: #F9F9F9;
$color-athens-gray: #F6F7F9;
$color-white-lilac: #F6F6FC;
$color-cadet-blue: #ABB4C0;

$color-big-stone: #171C3A;

$color-thunder-bird: #C51620;

