{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }}|Contact Us{% endblock %}

{% block content %}
<main class="contact-us">
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="section-title">تواصل معنا</h2>
            <span class="col-12"></span>
            <div class="col-md-9 col-sm-10 col-12">
                {% if phone %}
                <ul class="contact-item list-unstyled">
                    {% for i in phone %}
                    <li class="row align-items-center"> 
                        <span class="flaticon-phone"></span>
                        <span class="title">{{i.title}}</span>
                        <span class="data">{{i.number}}</span>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if email %}
                <ul class="contact-item list-unstyled">
                    {% for i in email %}
                    <li class="row align-items-center">
                        <span class="flaticon-email"></span>
                        <span class="data">{{i.title}}</span>
                        <span class="title">{{i.email}}</span>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if address %}
                <ul class="contact-item list-unstyled">
                    {% for i in address %}
                    <li class="row align-items-center">
                        <span class="flaticon-marker"></span>
                        <span class="data">{{i.title}}</span>
                        <span class="title">{{i.address}}</span>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
