{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} | {{ object.name }}{% endblock %}

{% block content %}
    <main class="product-item">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-12 order-sm-1 order-2">
                    <div class="col-sm-11 col-12 pl-0 pr-0 mattress-content">
                        <img class="img-fluid mb-5" src="{% get_media_prefix %}{{ object.cover }}"
                             alt="{{ object.name }}">
                        <p class="text-right">{{ object.description }}</p>
                        <ul class="list-unstyled text-right">
                            {% for list in object.get_features_list %}
                                <li>{{ list }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="col-sm-2 col-xs-12 order-sm-2 order-1 menu-list">
                    <ul class="link-list list-unstyled">
                        {% for item in object_list %}
                            <li class="mb-sm-3 mb-0">
                                <a {% if item.pk == object.pk %}
                                    class="link-item active"
                                    style="background-color: {{ item.color }}; border-color: {{ item.color }}; color: {{ item.color }};"
                                {% else %}
                                    class="link-item"
                                    style="background-color: {{ item.color }}"
                                {% endif %}
                                        {% if request.resolver_match.url_name == 'mattress' %}
                                    href="{% url 'Public:mattress' pk=item.pk %}"
                                        {% else %}
                                    href="{% url 'Public:product' pk=item.pk %}"
                                        {% endif %}>{{ item.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
