{% extends 'base.html' %}
{% load static %}

{% block title %}{{block.super}} | Home{% endblock %}

{% block content %}
<main class="home">
    <section class="intro">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </section>

    <!-- the mattress section -->
    <section class="mattress">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>مراتب ماي بد ستار</h1>
                </div>
                <div class="col-12 row"></div>
                <div class="col-12"></div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

