main.contact-us {
    padding-top: $space-xl;
    padding-bottom: $space-xl;
    background-color: $color-alabaster;
    .section-title {
        margin-bottom: $space-lg;
    }
    .contact-item {
        padding-right: $space-lg;
        padding-bottom: $space-base;
        border-bottom: 1px solid $color-bright-turquoise;
        direction: rtl;
        li {
            padding-bottom: $space-base;
            span {
                color: $color-big-stone;
                &:nth-child(2) {
                    font-weight: $font-medium;
                    font-size: $font-base;
                    margin-left: $space-sm;
                    &:after {
                        content: ':';
                        padding-right: $space-xs;
                    }
                }
                &:last-child {
                    font-weight: $font-light;
                }
            }
        }
    }
}
