.main-footer {
    .footer-social{
        padding: $space-lg 0;
        background-color: $color-blackcurrant;
        .socila-icons{
            padding-top: $space-md;
        }
    }
    .copy-right{
        padding: $space-sm 0;
        background-color: $color-bastille;

        img {
            height: $space-md;
        }

        p {
            margin: 0;
            color: $color-white;
            font-size: $font-xs;
        }
    }
}
