header {
    height: 60px;
    background-color: $color-swamp;
    .head-contact {
        span, a {
            padding: $space-xs $space-base;
            border: 2px solid $color-pacific-blue;
            color: $color-white;
            border-radius: $space-xs;
            font-weight: $font-light;
            font-size: $font-md;
        }
        a {
            &:before {
                margin: 0;
                padding-right: $space-base;
                vertical-align: middle;
            }
        }
    }
    .main-menu {
        min-height: 100%;
        padding-top: $space-xs;
        padding-bottom: $space-xs;
        background-color: $color-white;
        border-bottom-left-radius: $space-md;
        z-index: 1;
        .menu-toggle {
            border: none;
            outline: none;
            background-color: transparent;
            height: 35px;
            width: 35px;
            padding: 0;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            & > img {
                width: 35px;
                height: 35px;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                @include transition(opacity .3s ease-in-out);
                &.active {
                    opacity: 1;
                }
            }
        }
        .menu-links {
            li {
                padding: $space-base 0;
                text-align: center;
                font-weight: $font-bold;
                font-size: $font-menu;
                @include transition(color .3s ease);
                &.active, &:hover {
                    color: $color-pacific-blue;
                }
            }
        }
        @include media-xs {
            border-radius: 0px;
        }
    }
}
