@import "../sass/utilities/main";

.product-item {
    background-color: $color-alabaster;

    .mattress-content {
        padding-top: $space-lg;
        padding-bottom: $space-lg;

        p {
            color: $color-boulder;
            font-weight: $font-medium;
            font-size: $font-md;
        }

        ul {
            padding-right: $space-md;
            padding-top: $space-md;

            li {
                color: $color-boulder;
                padding-top: $space-sm;
                padding-right: $space-md;
                padding-bottom: $space-sm;
                font-size: $font-base;
                font-weight: $font-medium;
                @include position(relative);

                &:before {
                    content: '-';
                    @include position(absolute, right $space-xs);
                }
            }
        }
    }

    .menu-list {
        background-color: $color-gallery;
        @include position(relative);

        &:before {
            content: '';
            width: 500%;
            background-color: $color-gallery;
            @include position(absolute, top 0 right 0 bottom 0 left 100%);
        }

        .link-list {
            padding-top: $space-lg;
            margin: 0 0 0 -15px;

            .link-item {
                display: inline-block;
                padding: $space-sm $space-base $space-sm $space-sm;
                color: $color-white;
                border-top-right-radius: $space-md;
                border-bottom-right-radius: $space-md;
                text-align: right;
                white-space: nowrap;
                @include transition(all .3s ease-in-out);

                @include media-xs {
                    padding: $space-sm $space-md;
                    border-radius: $space-md;
                    margin: auto $space-sm;
                }

                &:hover, &.active {;
                    padding-right: $space-lg;
                    padding-left: $space-lg;
                    border-top-left-radius: $space-md;
                    border-bottom-left-radius: $space-md;
                    transform: translateX(-30%);

                    @include media-up($screen-sm-min) {
                        color: $color-white !important;
                    }

                    @include media-xs {
                        padding-right: $space-md;
                        padding-left: $space-md;
                        transform: translateX(0);
                        background-color: transparent !important;
                        border: 1px solid;
                    }
                }
            }

            @include media-xs {
                display: flex;
                flex-direction: row-reverse;
                width: 100%;
                padding-top: $space-md;
                padding-bottom: $space-md;
                margin-left: 0;
                overflow-x: auto;
            }
        }
    }
}